.header{
    background-color: #29487d;
    width: 100%;
    height: 85px;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    width: 50%;
    padding-top: 30px;
    float:left
}
.login{
    width: 50%;
    float: left;
}
.logo-text{
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 170px;
}


.login-label{
    color: #fff;
}

.login{
    padding-top: 10px;
}

.login-controls{
    margin-left: 117px;
}

.forget{
    color: #9cb4;
    font-size: 1px;
}

.button{
    background-color: #4267b2;
    color:#fff;
    border-color: #29487d;
    height: 22px;
    cursor: pointer;
}
.button:hover{
    background-color: darkblue;
}
.main-body{
    background: linear-gradient(white,#D3D8E8);
    width: 100%;
    height: 700px;
    float: left;
}
.left-content{
    color: #4267b2;
    font-size: 32px;
    font-weight: bold;
}
.image{
    width: 727px;
    height: 358px;
   
}
.left-body{
    width: 44%;
    padding-left: 170px;
    padding-top: 67px;
    float: left;
}

.right-body{
    width: 40%;
    padding-top: 40px;
    padding-left: 4px;
    float: left;

}
.second-line{
    font-size: 28px;
    margin-top: -20px;
}
.first-line{
    font-size: 25px;
}
.firstname{
    height: 30px;
    width: 280px;
    font-size: 20px;
}
.email{
    height: 30px;
    width: 573px;
    margin-top:5px;
    font-size: 20px;
}
.password{
    height: 30px;
    width: 573px;
    margin-top: 5px;
    font-size: 20px;
}
.birthday{
    font-size: 28px;
    height: 0px;
}
.ddmmyy{
    height: 30px;
    width: 280px;
}
.gender{
    font-size: 28px;
    height: 0px;
}
.gend{
    margin-top: 40px;
}
.signup{
   
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 30px;
    line-height: 48px;
    padding: 0 16px;
    width: 225px;
    margin-top: 20px;
    
}